body {
	font-family: "�ｿｽ�ｽｼ�ｽｭ�ｿｽ�ｽｼ�ｽｳ �ｿｽ�ｽｼ�ｽｰ郢ｧ�ｽｴ郢ｧ�ｽｷ郢晢ｿｽ郢ｧ�ｽｯ",
		sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 55vw;
	margin: auto;
}

.header {
	padding: 10px 20px 10px 20px;
	align-items: center;
}

.header img[alt="logo"] {
	height: 100%;
}

.userName {
	display: flex;
	justify-content: flex-end;
	gap: 5px;
	align-items: center;
	margin-bottom: 5px;
}

.userName_Title {
	font-size: 16px;
}

.userName_Text {
	font-size: 14px;
	font-weight: bold;
}

.main_Btn {
	display: flex;
	justify-content: flex-end;
	gap: 5px;
	align-items: center;
	margin-bottom: 15px;
}

.main_Btn img {
	cursor: pointer;
	display: block;
}

.userInfo {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	font-size: 13px;
	margin-bottom: 15px;
	align-items: center;
}

.userInfo>div {
	display: flex;
}

.main {
	flex: 1;
	padding: 0 20px;
}

.main_Content {
	margin-bottom: 15px;
}

/* �ｿｽ蟆奇ｿｽ笏｣ */
.footer {
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
	color: #666;
}

.main_Logo {
	height: 100px;
}

.userInfo_Title {
	font-size: 15px;
	padding: 5px;
	background-color: black;
	color: white;
	font-weight: bold;
	border: solid 1px black;
}

.userInfo_Text {
	font-size: 15px;
	padding: 5px;
	font-weight: bold;
	border: solid 1px black;
}

.subtitle {
	position: relative;
	text-align: center;
	background-size: auto;
	background-image: url('/resources/img/tn/bg_subtitle.gif');
	background-repeat: no-repeat;
	background-size : contain; 
	background-position: center center;
	padding: 1rem;
	font-weight: bold;
	color: #126339;
	min-width: 500px;
	text-align: left;
	padding-left: 30px; 
}

.flow {
	display: flex;
	gap: 10px;
}

.flow_current {
	position: relative;
	background-image: url('/resources/img/bg_flow_01.gif');
	background-repeat: no-repeat;
	background-size : contain; 
	background-position: center center;
	padding: 1rem;
	color: white;
	text-align: center;
	width: 100%;
	font-size: 13px;
}

.flow_others {
	position: relative;
	background-image: url('/resources/img/bg_flow_02.gif');
	background-repeat: no-repeat;
	background-size : contain; 
	background-position: center center;
	padding: 1rem;
	color: #808080;
	text-align: center;
	width: 100%;
	font-size: 13px;
}

.subtitle img {
	width: 100%;
	display: block;
}

.content_Form {
	
}

.form_Title1>div {
	min-width: 25px;
	text-align: center;
	background-color: #595860;
	color: white;
	padding: 5px;
	border: solid 1px white;
	font-weight: bold;
	font-size: 15px;
}

.form_Text1 {
	border: solid 1px #f5f5f5;
}

.form_Text1>div {
	min-width: 25px;
	text-align: left;
	padding: 5px;
	font-size: 13px;
}

.form_Column {
	background-color: #dddddd;
}

.form_Title2 {
	background-color: #333333;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 8px 8px 0 0;
	text-align: left;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}