<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cosmo.mapper.AddressInputMapper">

    <select id="selectShainAddress" resultType="org.cosmo.domain.AddressViewDto">
        SELECT 
            /* 현주소: 사원 정보 (SHAIN) */
            ZIP_CD      AS currentZip,
            ADDRESS_1   AS currentPref,
            ADDRESS_2   AS currentAddr1,
            ADDRESS_3   AS currentAddr2,
            
            /* 중간주소: 사원 정보 (항상 SHAIN에서) */
            DB_ZIP_CD     AS middleZip,
            DB_ADDRESS_1  AS middlePref,
            DB_ADDRESS_2  AS middleAddr1,
            NULL          AS middleAddr2
        FROM SHAIN
        WHERE SHAIN_UID = #{shainUid}
    </select>

    <select id="selectShinseiData" resultType="org.cosmo.domain.AddressViewDto">
        SELECT 
            /* 현주소: 신청 당시 저장된 값 (SHINSEI) */
            A.GEN_ZIP_CD          AS currentZip,
            A.GEN_HOME_ADDRESS_1  AS currentPref,
            A.GEN_HOME_ADDRESS_2  AS currentAddr1,
            A.GEN_HOME_ADDRESS_3  AS currentAddr2,
            
            /* 중간주소: 여전히 최신 인사 정보 (SHAIN) */
            B.DB_ZIP_CD     AS middleZip,
            B.DB_ADDRESS_1  AS middlePref,
            B.DB_ADDRESS_2  AS middleAddr1,
            NULL            AS middleAddr2
        FROM SHINSEI A
        LEFT JOIN SHAIN B ON A.SHAIN_UID = B.SHAIN_UID
        WHERE A.SHINSEI_NO = #{shinseiNo}
    </select>
    
    </mapper>