<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cosmo.mapper.HiwariKakuninMapper">

  <resultMap id="HiwariKakuninHeaderMap"
             type="org.cosmo.domain.HiwariKakuninVO">
    <id    property="shinseiNo"    column="SHINSEI_NO"/>

    <result property="kigyoCd"       column="KIGYO_CD"/>
    <result property="shainUid"      column="SHAIN_UID"/>
    <result property="empNo"         column="EMP_NO"/>
    <result property="empName"       column="EMP_NAME"/>
    <result property="empWorkplace"  column="EMP_WORKPLACE"/>
    <result property="empAddress"    column="EMP_ADDRESS"/>
    
    <result property="shinseiKbn"     column="SHINSEI_KBN"/>
    <result property="shinseiKbnNm"   column="SHINSEI_KBN_NM"/>
    <result property="shinseiRiyu"    column="SHINSEI_RIYU"/>

    <result property="taishoKikanFrom" column="TAISHO_KIKAN_FROM"/>
    <result property="taishoKikanTo"   column="TAISHO_KIKAN_TO"/>
    <result property="shukkinNissuu"   column="SHUKKIN_NISSUU"/>
    <result property="kingakuGokei"    column="KINGAKU_GOKEI"/>
  </resultMap>


  <resultMap id="HiwariKakuninRouteMap"
             type="org.cosmo.domain.HiwariKakuninRouteVO">
    <id     property="keiroSeq"          column="KEIRO_SEQ"/>

    <result property="tsukinShudanKbn"   column="TSUKIN_SHUDAN_KBN"/>
    <result property="tsukinShudanNm"    column="TSUKIN_SHUDAN_NM"/>

    <result property="keiroSection"      column="KEIRO_SECTION"/>

    <result property="shukkinNissuu"     column="SHUKKIN_NISSUU"/>
    <result property="kataMichiRyokin"   column="KATAMICHI_RYOKIN"/>

    <result property="kingaku"           column="KINGAKU"/>
    <result property="kingakuMonthly"    column="KINGAKU_MONTHLY"/>
  </resultMap>


  <select id="selectKakuninHeader"
          resultMap="HiwariKakuninHeaderMap">

    SELECT
        S.KIGYO_CD                                   AS KIGYO_CD
      , S.SHINSEI_NO                                 AS SHINSEI_NO
      , S.SHAIN_UID                                  AS SHAIN_UID
      , H.SHAIN_NO                                   AS EMP_NO
      , H.SHAIN_NM                                   AS EMP_NAME
      , (KJ.JIGYOSHO_NM || ' ' || SZ.SHOZOKU_NM)    AS EMP_WORKPLACE
      , (H.ADDRESS_1 || ' ' || H.ADDRESS_2 || ' ' || H.ADDRESS_3) AS EMP_ADDRESS
      , S.SHINSEI_KBN                                AS SHINSEI_KBN
      , CKBN.CODE_NM                                 AS SHINSEI_KBN_NM
      , MAX(DBMS_LOB.SUBSTR(S.SHINSEI_RIYU, 4000, 1)) AS SHINSEI_RIYU
      , MIN(SK.KIKAN_START_YMD)                      AS TAISHO_KIKAN_FROM
      , MAX(SK.KIKAN_END_YMD)                        AS TAISHO_KIKAN_TO
      , SUM(SK.JITSU_KINMU_NISSU)                    AS SHUKKIN_NISSUU
      , SUM(SK.HIWARI_ATO)                           AS KINGAKU_GOKEI
    FROM
        SHINSEI              S
        JOIN SHAIN           H  ON H.KIGYO_CD = S.KIGYO_CD
                               AND H.SHAIN_UID = S.SHAIN_UID
        LEFT JOIN KIGYO_JIGYOSHO KJ
               ON KJ.KIGYO_CD   = H.KIGYO_CD
              AND KJ.JIGYOSHO_CD = H.JIGYOSHO_CD
        LEFT JOIN SHOZOKU     SZ
               ON SZ.KIGYO_CD  = H.KIGYO_CD
              AND SZ.SHOZOKU_CD = H.SHOZOKU_CD
        LEFT JOIN CODE        CKBN
               ON CKBN.CODE_SYBTSU = '101'
              AND CKBN.CODE       = S.SHINSEI_KBN
        LEFT JOIN SHINSEI_START_KEIRO SK
               ON SK.KIGYO_CD   = S.KIGYO_CD
              AND SK.SHINSEI_NO = S.SHINSEI_NO
    WHERE
        S.KIGYO_CD   = #{kigyoCd}
      AND S.SHINSEI_NO = #{shinseiNo}
    GROUP BY
        S.KIGYO_CD
      , S.SHINSEI_NO
      , S.SHAIN_UID
      , H.SHAIN_NO
      , H.SHAIN_NM
      , (KJ.JIGYOSHO_NM || ' ' || SZ.SHOZOKU_NM)
      , (H.ADDRESS_1 || ' ' || H.ADDRESS_2 || ' ' || H.ADDRESS_3)
      , S.SHINSEI_KBN
      , CKBN.CODE_NM

  </select>


  <select id="selectKakuninRoutes"
          resultMap="HiwariKakuninRouteMap">

    SELECT
        SK.KEIRO_SEQ                                  AS KEIRO_SEQ
      , SK.TSUKIN_SHUDAN_KBN                          AS TSUKIN_SHUDAN_KBN
      , C103.CODE_NM                                  AS TSUKIN_SHUDAN_NM
      , (SK.START_PLACE || ' ～ ' || SK.END_PLACE)    AS KEIRO_SECTION
      , SK.JITSU_KINMU_NISSU                          AS SHUKKIN_NISSUU
      , SK.KATAMICHI_KIN                              AS KATAMICHI_RYOKIN
      , SK.HIWARI_ATO                                 AS KINGAKU
      , SK.TSUKI_SHIKYU_KIN                           AS KINGAKU_MONTHLY
    FROM
        SHINSEI_START_KEIRO SK
        LEFT JOIN CODE C103
               ON C103.CODE_SYBTSU = '103'
              AND C103.CODE       = SK.TSUKIN_SHUDAN_KBN
    WHERE
        SK.KIGYO_CD   = #{kigyoCd}
      AND SK.SHINSEI_NO = #{shinseiNo}
    ORDER BY
        SK.KEIRO_SEQ

  </select>
<!-- 申請を承認状態に更新 -->
<update id="updateShinseiApproval">
    UPDATE SHINSEI
    SET 
        SHINCHOKU_KBN = #{shinchoKbn},
        KIGYO_SHONIN_YMD = TO_CHAR(SYSDATE, 'YYYYMMDD'),
        UPD_DATE = SYSDATE
    WHERE 
        KIGYO_CD = #{kigyoCd}
        AND SHINSEI_NO = #{shinseiNo}
</update>
</mapper>