<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cosmo.mapper.HiwariKeiroMapper">

    <resultMap id="HiwariKeiroMap" type="org.cosmo.domain.HiwariKeiroVO">
        <result column="KIGYO_CD"          property="kigyoCd"/>
        <result column="SHINSEI_NO"        property="shinseiNo"/>
        <result column="KEIRO_SEQ"         property="keiroSeq"/>
        <result column="SHAIN_UID"         property="shainUid"/>
        <result column="TSUKIN_SHUDAN_KBN" property="tsukinShudanKbn"/>
        <result column="START_PLACE"       property="startPlace"/>
        <result column="END_PLACE"         property="endPlace"/>
        <result column="KEKKA_SELECT"      property="kekkaSelect"/>
    </resultMap>

    <select id="findByUser"
            parameterType="int"
            resultMap="HiwariKeiroMap">
        SELECT
            KIGYO_CD,
            SHINSEI_NO,
            KEIRO_SEQ,
            SHAIN_UID,
            TSUKIN_SHUDAN_KBN,
            START_PLACE,
            END_PLACE,
            KEKKA_SELECT
        FROM
            SHINSEI_START_KEIRO
        WHERE
            KIGYO_CD = 100
          AND SHINSEI_NO = (
                SELECT MAX(SHINSEI_NO)
                FROM SHINSEI
                WHERE KIGYO_CD = 100
                  AND SHAIN_UID = #{shainUid}
          )
        ORDER BY
            KEIRO_SEQ
    </select>

    <delete id="deleteByUser" parameterType="int">
        DELETE FROM SHINSEI_START_KEIRO
        WHERE KIGYO_CD = 100
          AND SHINSEI_NO = (
                SELECT MAX(SHINSEI_NO)
                FROM SHINSEI
                WHERE KIGYO_CD = 100
                  AND SHAIN_UID = #{shainUid}
          )
    </delete>

    <insert id="insertKeiro" parameterType="org.cosmo.domain.HiwariKeiroVO">
        INSERT INTO SHINSEI_START_KEIRO (
            KIGYO_CD,
            SHINSEI_NO,
            KEIRO_SEQ,
            SHAIN_UID,
            TSUKIN_SHUDAN_KBN,
            START_PLACE,
            END_PLACE,
            KEKKA_SELECT
        )
        VALUES (
            100,
            (SELECT MAX(SHINSEI_NO)
               FROM SHINSEI
              WHERE KIGYO_CD = 100
                AND SHAIN_UID = #{shainUid}),
            #{keiroSeq},
            #{shainUid},
            #{tsukinShudanKbn},
            #{startPlace},
            #{endPlace},
            #{kekkaSelect}
        )
    </insert>

</mapper>
