<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "org.cosmo.mapper.HomeMapper">
	
	<select id="getList" resultType="org.cosmo.domain.HomeShainVO">
		
		select ROW_NUMBER() OVER(ORDER BY a.shinsei_ymd desc) seq, shinsei_no, '' as shinsei_naiyou
		     , to_char(to_date(shinsei_ymd, 'yyyymmdd'), 'yyyy/mm/dd') shinsei_ymd
		     , to_char(to_date(LL_SHONIN_YMD, 'yyyymmdd'), 'yyyy/mm/dd') LL_SHONIN_YMD
		     , '' as first_shikyu_ymd
		     , (select shozoku_nm from shozoku where kigyo_cd = a.kigyo_cd and shozoku_cd = b.shozoku_cd) as shozoku_nm
		     , (select code_nm from code where code_sybtsu = '001' and code = (select code from code where code_sybtsu = '108' and code = a.jutaku_kbn)) as jutaku_kbn
		     , shinchoku_kbn
		     , (select code_nm from code where code_sybtsu = '102' and code = a.shinchoku_kbn) as shinchoku_kbnnm
		from shinsei a, shain b
		where a.kigyo_cd = b.kigyo_cd
		and a.shain_uid = b.shain_uid
		and a.kigyo_cd = #{kigyo_Cd}
		and a.shain_uid = #{shain_Uid}
		order by a.shinsei_ymd desc
		
	</select>
	
</mapper>