<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "org.cosmo.mapper.HomeMapper">
	
	<select id="getList" resultType="org.cosmo.domain.ShainVO">
		SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD') AS SHAIN_UID FROM DUAL
	</select>
	
</mapper>