<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cosmo.mapper.OshiraseMapper">

    <insert id="insertOshirase"
            parameterType="org.cosmo.domain.OshiraseDTO">

        INSERT INTO OSHIRASE (
            KIGYO_CD,
            SHAIN_UID,
            SHAIN_NO,
            TSUCHI_YMD,
            TSUCHI_HM,
            TSUCHISHA_KIGYO_CD,
            TSUCHISHA_CD,
            SHINSEI_NO,
            OSHIRASE_NAIYO,
            KENGEN,
            HAISHIN_KBN,
            ADD_USER_ID,
            ADD_DATE,
            UPD_USER_ID,
            UPD_DATE
        ) VALUES (
            #{kigyoCd},
            #{shainUid},
            #{shainNo, jdbcType=VARCHAR},
            #{tsuchiYmd},
            #{tsuchiHm},
            #{tsuchishaKigyoCd},
            #{tsuchishaCd},
            #{shinseiNo,      jdbcType=NUMERIC},
            #{oshiraseNaiyo,  jdbcType=CLOB},
            #{kengen,         jdbcType=VARCHAR},
            #{haishinKbn,     jdbcType=VARCHAR},
            #{addUserId},
            #{addDate},
            #{updUserId},
            #{updDate}
        )
    </insert>

</mapper>
