<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cosmo.mapper.TokureiMapper">

	<!-- SHINSEI_NO 채번 -->
    <select id="getNextShinseiNo" resultType="long">
        SELECT NVL(MAX(SHINSEI_NO), 0) + 1
        FROM SHINSEI
        WHERE KIGYO_CD = #{kigyoCd}
    </select>

    <!-- 특례 INSERT -->
    <insert id="insertShinseiForTokurei"
            parameterType="org.cosmo.domain.TokureiForm">
        INSERT INTO SHINSEI (
            KIGYO_CD,
            SHINSEI_NO,
            SHINSEI_KBN,
            SHINSEI_YMD,
            TOKU_SHINSEI_RIYU,
            SHAIN_UID,
            SHAIN_NO,
            SHINCHOKU_KBN,
            ADD_USER_ID,
            ADD_DATE
        )
        VALUES (
            #{kigyoCd},
            #{shinseiNo},
            '99',
            TO_CHAR(SYSDATE, 'YYYYMMDD'),
            #{tokureiReason},
            #{shainUid},
            #{shainNo},
            '0',
            #{shainUid},
            SYSTIMESTAMP
        )
    </insert>
    
    <update id="updateTokurei" parameterType="org.cosmo.domain.TokureiForm">
	UPDATE SHINSEI
	SET
   		 TOKU_SHINSEI_RIYU = #{tokureiReason},
   		 UPD_USER_ID = #{shainUid},
    	 UPD_DATE = SYSTIMESTAMP
	WHERE
    	 KIGYO_CD = #{kigyoCd}
   		 AND SHINSEI_NO = #{shinseiNo}
	</update>
    
</mapper>

<!-- 作成者 : 권예성 -->